
<% if (@view=="2") %>


<%= netzke :users, :class_name => "Basepack::GridPanel", :model => "User",:columns=>[:name,:email,:admin] %>

<% else %>

	<h1>All users</h1>

	<%= will_paginate %>
	<ul class="users">
		<%= render @users %>
	</ul>
	<%= will_paginate %>

<% end %>

